@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tag Helpers</h1>
    <title-tag title-text="Tag Helpers"></title-tag>
    <p><first-tag></first-tag></p>
    <bold><p>Informatieve website over TagHelpers!</p></bold>
</div>
