
<h2>Search form</h2>
<hr />
<div class="text-center">
	<a class="btn btn-secondary m-3" asp-controller="Medewerkers" asp-action="SearchForm">
		Search medewerker by name
	</a> <br />
	<a class="btn btn-secondary m-3">
		Search afdeling by name
	</a> <br />
	<a class="btn btn-secondary m-3">
		Search land by name
	</a>
</div>